{% extends "base.html" %}
{% block content %}

<h1>Articolo da caricare</h1>
<h3>Stai per caricare - {{ item.name }} - {{ item.description }}</h3>

<form method="post">
    <input type="hidden" name="item_name" value="{{ item.name }}">
    <label for="inputQuantity" class="form-label">Quantità da caricare</label>
    <input type="text" id="inputQuantity" class="form-control">
    <button type="submit" class="btn btn-primary mt-2">Carica</button>
</form>

<a href="{{ url_for('get_upload') }}" class="btn btn-primary mt-2">Torna alla Ricerca</a>

{% endblock %}