{% extends "base.html" %}
{% block content %}
<h1>Carica la minuteria in modula</h1>
<form method="post" id="upload">
    <div class="form-group">
        <label for="barCode">Inserisci codice a barre</label>
        <input type="text" class="form-control" id="barCode" name="barCode" placeholder="Scansiona articolo">
        {% if error %}
        <small class="text-danger">{{ error }}</small>
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>
{% endblock %}